@charset "utf-8";

/* CSS Document for making hexaflexagon with Six Photo */ 
/* Augost 2015 */
/* Author: Sara Mansouri */
/* http://Mansouri.ca */

.photo {
	width: 100%;
}
/*** triangles (user can change their images) ***/
.triangle {
	float: left;
	height: 180px;
	width: 180px;
	background-size: 100% 100% !important;
}

#triangle1 {
	background: aqua;
}

#triangle2 {
	background: bisque;
}

#triangle3 {
	background: antiquewhite;
}

#triangle4 {
	background: aqua;
}

#triangle5 {
	background: bisque;
}

#triangle6 {
	background: antiquewhite;
}

/*** Flexigon pattern (template) ***/
#template1 {
	z-index: 2;	
	height: 280px;
	width: 562px;
	position: absolute;
	margin-top: -60px;
	background-size: contain;
	background-position-y: 101px;
	background-repeat: no-repeat;
	background-image: url(https://c1.staticflickr.com/9/8860/18604492365_d8d169ec16_z.jpg);
}

.part{
	position: absolute;
	width: 173px;
	height: 200px;	
}

.m1 {
	-webkit-clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	clip-path: polygon(50% 0%, 0 75%, 50% 50%);
			transform: rotate(210deg);
		-ms-transform: rotate(210deg);
	   -moz-transform: rotate(210deg);
	-webkit-transform: rotate(210deg);
		 -o-transform: rotate(210deg);
}

.m2 {
	-webkit-clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
			transform: rotate(90deg);
		-ms-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
		 -o-transform: rotate(90deg);
}

.m3 {
	-webkit-clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	clip-path: polygon(0 75%, 100% 75%, 50% 50%);
			transform: rotate(-30deg);
		-ms-transform: rotate(-30deg);
	   -moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
		 -o-transform: rotate(-30deg);
}

.m4 {
	-webkit-clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	clip-path: polygon(50% 0%, 0 75%, 50% 50%);
			transform: rotate(30deg);
		-ms-transform: rotate(30deg);
	   -moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
		 -o-transform: rotate(30deg);
}

.m5 {
	-webkit-clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
			transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
	   -moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
		 -o-transform: rotate(-90deg);
}

.m6 {
	-webkit-clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	clip-path: polygon(0 75%, 100% 75%, 50% 50%);
			transform: rotate(150deg);
		-ms-transform: rotate(150deg);
	   -moz-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
		 -o-transform: rotate(150deg);
}
/*
#l3c {
	top: 3px;
	left: 16px;
}

#l1c {
	top: 3px;
	left: 118px;
}

#l2a {
	top: 3px;
	left: 219px;
}

#l3b {
	top: 3px;
	left: 321px;
}

#l1b {
	top: 90px;
	left: -33px;
}

#l2c {
	top: 90px;
	left: 67px;
}

#l3a {
	top: 90px;
	left: 169px;
}

#l1a {
	top: 90px;
	left: 271px;
}

#l2b {
	top: 90px;
	left: 373px;
}

#l6b {
	top: 87px;
	left: 66px;
}

#l5b {
	top: 87px;
	left: 168px;
}

#l4b {
	top: 87px;
	left: 270px;
}

#l6c {
	top: 87px;
	left: 372px;
}

#l5c {
	top: 177px;
	left: 16px;
}

#l4c {
	top: 177px;
	left: 117px;
}

#l6a {
	top: 177px;
	left: 219px;
}

#l5a {
	top: 177px;
	left: 321px;
}

#l4a {
	top: 177px;
	left: 422px;
}
*/


#l3b{top:3px;left:16px!important;}
#l1b{top:3px;left:118px!important;}
#l2a{top:3px;left:219px!important;}
#l3c{top:3px;left:321px!important;}

#l1c{top:90px;left:-33px!important;}
#l2b{top:90px;left:67px!important;}
#l3a{top:90px;left:169px!important;}
#l1a{top:90px;left:271px!important;}
#l2c{top:90px;left:373px!important;}

#l6c{top:89px;left:66px!important;}
#l5c{top:89px;left:168px!important;}
#l4c{top:89px;left:270px!important;}
#l6b{top:89px;left:372px!important;}

#l5b{top:177px;left:16px!important;}
#l4b{top:177px;left:117px!important;}
#l6a{top:177px;left:219px!important;}
#l5a{top:177px;left:321px!important;}
#l4a{top:177px;left:422px!important;}

/*when an image is croped by polygons Chrome will calculate it acourding to the initial sizes of the main photos but Firefox will consider the new edges so we need another background-position for Firefox*/
 @-moz-document url-prefix() {
 .template2 {
 background-position: 0% 98%;
}
}
