@charset "utf-8";

/* CSS Document for making hexaflexagon with Six Photo*/ 
/* CSS Document for the worksheet structure*/
/* Augost 2015*/
/* Author: Sara Mansouri*/
/* http://Mansouri.ca*/


#triangle1 {
	background: aqua;
}

#triangle2 {
	background: bisque;
}

#triangle3 {
	background: antiquewhite;
}

#triangle4 {
	background: aqua;
}

#triangle5 {
	background: bisque;
}

#triangle6 {
	background: antiquewhite;
}

.template2 {
	/*top: 1100px !important;*/
	background-position-y: 101px !important;
	height: 280px !important;
	background-size: contain !important;
}

#template1 {
	z-index: 2;
	height: 180px;
	background-repeat: no-repeat;
	width: 562px;
	background-size: 100% 100%;
	position: absolute;
	margin-top: -60px;
	background-image: url(https://c1.staticflickr.com/9/8860/18604492365_d8d169ec16_z.jpg);
}

.photo {
	width: 100%;
}

.triangle {
	float: left;
	height: 180px;
	width: 180px;
	background-size: 100% 100% !important;
}

.m1 {
	position: absolute;
	left: 200px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	-moz-transform: rotate(210deg);
	-webkit-transform: rotate(210deg);
	-o-transform: rotate(210deg);
}

.m2 {
	position: absolute;
	left: 400px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.m3 {
	position: absolute;
	left: 600px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}

.m4 {
	position: absolute;
	left: 200px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	clip-path: polygon(50% 0%, 0 75%, 50% 50%);
	transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	-o-transform: rotate(30deg);
}

.m5 {
	position: absolute;
	left: 400px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	clip-path: polygon(50% 0%, 100% 75%, 50% 50%);
	transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
}

.m6 {
	position: absolute;
	left: 600px;
	width: 173px;
	height: 200px;
	-webkit-clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	clip-path: polygon(0 75%, 100% 75%, 50% 50%);
	transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	-moz-transform: rotate(150deg);
	-webkit-transform: rotate(150deg);
	-o-transform: rotate(150deg);
}

#l3c {
	top: 3px;
	left: 16px!important;
}

#l1c {
	top: 3px;
	left: 118px!important;
}

#l2a {
	top: 3px;
	left: 219px!important;
}

#l3b {
	top: 3px;
	left: 321px!important;
}

#l1b {
	top: 90px;
	left: -33px!important;
}

#l2c {
	top: 90px;
	left: 67px!important;
}

#l3a {
	top: 90px;
	left: 169px!important;
}

#l1a {
	top: 90px;
	left: 271px!important;
}

#l2b {
	top: 90px;
	left: 373px!important;
}

#l6b {
	top: 87px;
	left: 66px!important;
}

#l5b {
	top: 87px;
	left: 168px!important;
}

#l4b {
	top: 87px;
	left: 270px!important;
}

#l6c {
	top: 87px;
	left: 372px!important;
}

#l5c {
	top: 177px;
	left: 16px!important;
}

#l4c {
	top: 177px;
	left: 117px!important;
}

#l6a {
	top: 177px;
	left: 219px!important;
}

#l5a {
	top: 177px;
	left: 321px!important;
}

#l4a {
	top: 177px;
	left: 422px!important;
}
 @-moz-document url-prefix() {
 .template2 {
 background-position: 0% 98%;
}
}
